<section class="iceCreamList">
  <div class="card">
    <h2>Stwórz zamówienie</h2>
    <ul>
      <ng-container *ngIf="capacityList$ | async as capacityList; else loader">
        <ng-container
          *ngIf="iceCreamList$ | async as iceCreamList; else loader"
        >
          <ng-container *ngIf="iceCreamList.length === 0">
            <h3 class="iceCreamList__empty">Brak lodów do zamówienia</h3>
          </ng-container>
          <app-ice-cream-item
            *ngFor="let iceCream of iceCreamList"
            [iceCream]="iceCream"
            [capacity]="capacityList | sort"
            [isFavorite]="false"
          >
          </app-ice-cream-item>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</section>

<ng-template #loader>
  <app-loading-spinner class="spinner"></app-loading-spinner>
</ng-template>
