:root {
  --font-size-h1: 3.2rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.6rem;
  --font-size-h5: 1.328rem;
  --font-size-h6: 10.72rem;
  --font-size-xl: 4.8rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.6rem;
  --font-size-sm: 1.4rem;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-thin: 300;
  --letter-spacing-sm: -1.5%;
  --letter-spacing-md: 0%;
  --letter-spacing-lg: 3%;
  --letter-spacing-xl: 6%;
  --letter-spacing-xxl: 12%;
  --color-primary: rgb(214 43 31);
  --color-primary-dark: #a02118;
  --color-black: rgb(0 0 0);
  --color-black-800: rgba(0 0 0 / 80%);
  --color-black-700: rgba(0 0 0 / 70%);
  --color-black-500: rgba(0 0 0 / 50%);
  --color-black-300: rgba(0 0 0 / 30%);
  --color-black-100: rgba(0 0 0 / 10%);
  --color-gray: rgb(245 245 245);
  --color-white: rgb(255 255 255);
  --color-red: rgb(255 68 26);
  --color-blue: rgb(25 117 210);
  --color-green: rgb(54 176 88);
  --color-yellow: rgb(255 213 0);
  --color-violet-light: rgb(206 163 255);
  --color-blue-light: rgb(194 249 250);
  --color-red-light: rgb(255 189 189);
  --color-yellow-light: rgb(253 255 158);
  --color-green-light: rgb(203 255 189);
  --box-shadow-normal: rgba(0 0 0 / 10%);
}

$font-size-h1: var(--font-size-h1);
$font-size-h2: var(--font-size-h2);
$font-size-h3: var(--font-size-h3);
$font-size-h4: var(--font-size-h4);
$font-size-h5: var(--font-size-h5);
$font-size-h6: var(--font-size-h6);
$font-size-xl: var(--font-size-xl);
$font-size-lg: var(--font-size-lg);
$font-size-md: var(--font-size-md);
$font-size-sm: var(--font-size-sm);
$font-weight-bold: var(--font-weight-bold);
$font-weight-normal: var(--font-weight-normal);
$font-weight-thin: var(--font-weight-thin);
$letter-spacing-sm: var(--letter-spacing-sm);
$letter-spacing-md: var(--letter-spacing-md);
$letter-spacing-lg: var(--letter-spacing-lg);
$letter-spacing-xl: var(--letter-spacing-xl);
$letter-spacing-xxl: var(--letter-spacing-xxl);
$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-black: var(--color-black);
$color-black-800: var(--color-black-800);
$color-black-700: var(--color-black-700);
$color-black-500: var(--color-black-500);
$color-black-300: var(--color-black-300);
$color-black-100: var(--color-black-100);
$color-white: var(--color-white);
$color-gray: var(--color-gray);
$color-red: var(--color-red);
$color-blue: var(--color-blue);
$color-green: var(--color-green);
$color-yellow: var(--color-yellow);
$color-violet-light: var(--color-violet-light);
$color-blue-light: var(--color-blue-light);
$color-red-light: var(--color-red-light);
$color-yellow-light: var(--color-yellow-light);
$color-green-light: var(--color-green-light);
$color-box-shadow-normal: var(--box-shadow-normal);
