<li class="iceCream">
  <div>
    <h3>{{ iceCream }}</h3>
    <div *ngIf="isFavorite">
      <button
        (click)="switchIsFavorite(iceCream)"
        mat-icon-button
        color="basic"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <form class="form" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <div class="form__options">
        <div class="form__input">
          <mat-form-field class="form__field">
            <mat-label>Amount</mat-label>
            <input
              formControlName="amount"
              matInput
              type="number"
              min="1"
              step="1"
              [defaultValue]="1"
              required
            />
            <mat-error
              *ngIf="
                orderForm.controls['amount'].touched &&
                orderForm.controls['amount'].errors
              "
              >required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form__select">
          <mat-form-field class="form__field">
            <mat-label>Capacity</mat-label>
            <mat-select formControlName="capacity" required>
              <mat-option *ngFor="let option of capacity" [value]="option">{{
                option
              }}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                orderForm.controls['capacity'].touched &&
                orderForm.controls['capacity'].errors
              "
              >required</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button type="submit">
        <mat-icon>add</mat-icon> Add
      </button>
    </form>
  </div>
</li>
