.iceCream {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;

  & h3 {
    margin-left: 0.25rem;
  }
}

.form {
  text-align: right;

  &__options {
    display: flex;
  }

  &__input,
  &__select {
    margin-left: 1rem;
    width: 80px;
  }

  &__field {
    width: 100%;
  }
}
