<app-modal (emmiter)="onClose()">
  <div class="container">
    <div class="iceCreams">
      <ul *ngFor="let order of orders$ | async">
        <li class="iceCream">
          <div>
            <h3 class="iceCream__name">{{ order.name }}</h3>
            <div class="iceCream__summary">
              <span class="iceCream__capacity"
                >Kubełek: {{ order.capacity }} kg</span
              >
              <span class="iceCream__amount">X {{ order.amount }}</span>
            </div>
          </div>
          <div class="iceCream__actions">
            <button
              (click)="removeIceCream(order)"
              mat-stroked-button
              color="warn"
            >
              <mat-icon>remove</mat-icon>
            </button>
            <button
              (click)="addIceCream(order)"
              mat-stroked-button
              color="warn"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="!(isShipped$ | async)" class="total">
      <span>Całkowite zamówienia</span>
      <span>{{ total$ | async }}</span>
    </div>
    <div *ngIf="isShipped$ | async" class="info">
      <h3>Dzisiaj już złożyłeś swoje zamówienie. Wróć jutro.</h3>
    </div>
    <div *ngIf="!(isShipped$ | async)" class="info">
      <h3>Zapamiętaj. Dziennie możesz złożyć tylko jedno zamówienie</h3>
    </div>
    <div class="actions">
      <button (click)="onClose()" mat-stroked-button color="warn" type="button">
        Zamknij
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="isShipped$ | async"
        (click)="onSubmit()"
      >
        Zamów
      </button>
    </div>
  </div>
</app-modal>
