@use "./custom-theme.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: rgb(0 0 0);
  letter-spacing: 0%;
  margin: 0;
  font-family: Helvetica, Roboto, "Helvetica Neue", sans-serif;
  background: url(./assets/ice-cream.jpg);
  background-size: 100%;
}
