@use "../../../sass/variables" as *;
@use "../../../sass/typography" as *;

nav {
  margin-left: 5rem;

  & .navlist {
    display: flex;
    list-style-type: none;

    &__item {
      margin-right: 5rem;
      font-weight: $font-weight-bold;
      color: $color-black-700;

      & a {
        text-decoration: none;
        color: inherit;
      }

      &:hover {
        color: $color-primary-dark;
        cursor: pointer;
      }
    }
  }
}

.active {
  color: $color-primary-dark;
}
