.navContainer {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav {
  margin-left: 5rem;

  & .navlist {
    display: flex;
    align-items: center;

    &__item {
      margin-right: 5rem;
      font-weight: bold;
      color: rgb(68, 68, 240);
      padding: 1rem;
      border: 2px solid blue;
      border-radius: 25px;

      &:hover {
        color: rgb(8, 8, 189);
        cursor: pointer;
      }
    }
  }
}

.active {
  color: rgb(8, 8, 189);
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  cursor: pointer;
  border: none;
  background: lightblue;
  color: blue;
  padding: 1.25rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;

  &:hover,
  &:active {
    background-color: rgb(146, 212, 235);
  }

  &__badge {
    background: rgb(219, 219, 219);
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
}

.menu {
  display: none;
  color: blue;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .navigation {
    display: none;
  }

  .menu {
    display: block;
  }
}
