<nav>
  <ul class="navlist">
    <ng-container *ngIf="isClient$ | async">
      <li *ngFor="let rout of routingListClient" class="navlist__item">
        <a routerLink="{{ rout.link }}" routerLinkActive="active">{{ rout.title }}</a>
      </li>
    </ng-container>
    <ng-container *ngIf="!(isClient$ | async)">
      <li *ngFor="let rout of routingListIceman" class="navlist__item">
        <a routerLink="{{ rout.link }}" routerLinkActive="active">{{ rout.title }}</a>
      </li>
    </ng-container>
  </ul>
</nav>
