<app-modal (emmiter)="onClose()">
  <mat-card-header class="header">
    <mat-card-title>Konfiguracja możliwości</mat-card-title>
  </mat-card-header>
  <div class="container">
    <div class="container__item">
      <mat-card-title>Nazwy lodów</mat-card-title>
      <mat-chip-list>
        <mat-chip *ngFor="let iceCream of iceCreamOptions$ | async; let i = index">
          {{ iceCream.payload.val() }}
          <button matChipRemove (click)="onRemoveIceCream(iceCream.payload.key)" type="button">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <app-form-array (formEmmit)="onSubmitIceCream($event)"></app-form-array>
    </div>
    <div class="container__item">
      <mat-card-title>Pojemność lodów</mat-card-title>
      <mat-chip-list>
        <mat-chip *ngFor="let capacity of capacityOptions$ | async; let i = index">
          {{ capacity.payload.val() }}
          <button matChipRemove (click)="onRemoveCapacity(capacity.payload.key)" type="button">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <app-form-array (formEmmit)="onSubmitCapacity($event)"></app-form-array>
    </div>
  </div>
  <div class="actions">
    <button (click)="onClose()" mat-raised-button>Cancel</button>
  </div>
</app-modal>
