<app-modal (emmiter)="onClose()">
  <mat-card-header class="header">
    <h2>Oferta fabryki lodów</h2>
  </mat-card-header>
  <div class="container">
    <div class="container__item">
      <mat-card-title>Nazwy lodów</mat-card-title>
      <mat-chip-list>
        <mat-chip
          class="chip"
          *ngFor="let iceCream of iceCreamOptions$ | async; let i = index"
        >
          {{ iceCream.payload.val() }}
          <button
            matChipRemove
            (click)="onRemoveIceCream(iceCream.payload.key)"
            type="button"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <ng-container *ngIf="iceCreamName$ | async as iceCreamName">
        <app-form-array
          [labelName]="'Podaj smak'"
          [type]="'text'"
          [options]="iceCreamName"
          (formEmmit)="onSubmitIceCream($event)"
        ></app-form-array>
      </ng-container>
    </div>
    <div class="container__item">
      <mat-card-title>Pojemność lodów (kg)</mat-card-title>
      <mat-chip-list>
        <mat-chip
          class="chip"
          *ngFor="let capacity of capacityOptions$ | async; let i = index"
        >
          {{ capacity.payload.val() }} kg
          <button
            matChipRemove
            (click)="onRemoveCapacity(capacity.payload.key)"
            type="button"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <ng-container *ngIf="capacityValue$ | async as capacityValue">
        <app-form-array
          [labelName]="'Pojemność w kg'"
          [type]="'number'"
          [options]="capacityValue"
          (formEmmit)="onSubmitCapacity($event)"
        ></app-form-array>
      </ng-container>
    </div>
  </div>
  <div class="actions">
    <button (click)="onClose()" mat-raised-button>OK</button>
  </div>
</app-modal>
